<div class="m-auto mt-3 border col-11 col-md-6 col-lg-3 text-center">
  <h2 class="p-3">Chat Box</h2>
  <div>
    <form id="chatForm" class="p-3">
      <div class="col-6 p-1">
        <input name="email" placeholder="example@mail.com" class="form-control">
      </div>
      <hr>
      <div id="chatHistory">No hay mensajes para mostrar</div>
      <div class="col-12 d-flex align-items-center justify-content-between p-1">
        <input name="message" placeholder="Escribe aqui..." class="form-control">
        <input type="submit" class="btn btn-primary">  
      </div>
    </form>
  </div>
</div>

