<div class="m-auto border col-11 col-md-6 col-lg-3 text-center">
  <h1 class="text-center m-3">Productos Faker</h1>
  <form id="productsForm">
    <fieldset>
      <div id="history" class="row d-flex justify-content-center p-2 m-auto">
        <table class="table bg-dark text-light">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Title</th>
              <th scope="col">Price</th>
              <th scope="col">Icon</th>
            </tr>
          </thead>
          <tbody>
            <% randomProducts.forEach(element => { %>
              <tr>
                <th scope="row"><%= element.id %></th>
                <td><%= element.title %></td>
                <td>$<%= element.price %></td>
              <td>
                <img
                  src="<%= element.thumbnail %>"
                  alt="product icon"
                  style="width: 1.2rem"
                />
              </td>
            </tr>          
            <% }) %> 
          </tbody>
          </table>
      </div>
    </fieldset>
  </form>
</div>