<%- include('./partials/head')  %> 
<h1>Crea tu producto</h1>
<form id="productsForm" method="post">
  <label>Title:</label>
  <input name="title">
  <label>Price:</label>
  <input name="price">
  <label>Thumbnail:</label>
  <input name="thumbnail">
  <input type="submit">
</form>
<a href="/products">Ir a Productos</a>
<%- include('./partials/foot')  %> 