<div class="row d-flex justify-content-center p-2 m-auto">
  <% if (products.length > 0) { %>
  <table class="table bg-dark text-light">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Icon</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(item => { %>
      <tr>
        <th scope="row"><%= item.id %></th>
        <td><%= item.title %></td>
        <td>$<%= item.price %></td>
        <td>
          <img
            src="<%= item.thumbnail %>"
            alt="product icon"
            style="width: 1.2rem"
          />
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } else { %>
  <div class="row d-flex justify-content-around">
    <h1 class="text-center m-3">No hay datos</h1>
  </div>
  <% } %>
</div>
